<%- include("templates/header", {titulo: "Error 404"}) %> 

    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
      <h1 class="text-center display-1 fw-bold text-white">Error 404 :(</h1>
      <div><h1 class="text-center text-white">---------------</h1></div> <!-- Salto de línea entre los elementos h1 -->
      <h1 class="text-center text-white fw-bold">Ocurrió un error inesperado.</h1>
    </div>
  </body>
</html>