body{
  background-color: #fdfeff;
}


header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container1{
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  background-color: #0D5492; 
  flex-wrap: nowrap;
  align-items: center;
}

.icono1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto; 
  overflow: hidden; 
}

.bi-box-arrow-left {
 
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #0D5492;
  background-color: #FDFDFD;
  height: 100%; 
}

.to-reg-button1{
  justify-content: flex-end;
  background: #0D5492;
  color: #FDFDFD;
  font-weight: 700;
  font-size: larger;
  text-align: center;
}

.to-reg-button1:hover{
  background: #FDFDFD;
  color: #0D5492;
  font-weight: 700;
  font-size: larger;
}

.grancontenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
}

.contenedor-titulos {
  display: flex;
  flex-direction: column;
}

.titulo,
.titulo1 {
  color: black;
  font-weight: bold;
  font-size: 80px;
  margin: 0;
}

h1 {
  font-style: ExtraBold 800;
  font-size: 90px;
}

