
*/.next/
*/node_modules/
*/out/
*/.env
*/.env.*
*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
*/.vscode/
*/*.suo
*/*.ntvs*
*/*.njsproj
*/*.sln
*/*.sw?
*/build/
*/dist/
*/out/
*/build/Release
*/package-lock.json
*/pnpm-lock.yaml
src/app/auth/register/*
*/mongo-seed/
Backend/scripts/
.env/
.env
env
./.env
Backend/logs/sp_logs.txt
./Backend/logs/sp_logs.txt
*/Backend/logs/sp_logs.txt
./Frontend/dev-dist/
Frontend/dev-dist/