.searchbar:focus{
    outline: none;
}


.icon-blue{
    color: #0D5492;
}

.backblue{
    background-color: #0D5492 !important;
}

.search-group{
    width: 700px;
    justify-self: center;
}

table{
    width: 1000px;
    border-collapse: separate ;
    border-spacing: 0 6px;
}

table th:first-child{
    border-radius:10px 0 0 10px;
  }
  
  table th:last-child{
    border-radius:0 10px 10px 0;
  }



i:hover{
    cursor:pointer;
}

.profile-img{
    width: 50px;

}



