body {
    font-family: 'Montserrat', sans-serif;
    background-color: #050505;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    body {
        background-color: #0D5492;
    }

    .mobile {
        border: none !important;
        width: 95vw !important;
    }

    #load {
        border: none !important;
        width: 95vw !important;
    }
}

.mobile {
    background-color: #0D5492;
    width: 60vw;
    height: 80vh;
    max-width: 500px;
    border: white 0.1rem solid;
    border-radius: 0.2rem;
    display: none;
}

#load {
    width: 60vw;
    height: 80vh;
    max-width: 500px;
    background-color: #0D5492;
    color: #FFFF;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 0.1rem solid;
    border-radius: 0.2rem;
}

.md {
    color: #1c1c1c;
}

.button1{
    color: #1c1c1c;
    background-color: #f5f5f5;
}

.button2{
    color: #1c1c1c;
    background-color: #f5f5f5;
}

.button3{
    color: #1c1c1c;
    background-color: #f5f5f5;
}

.button4{
    color: #1c1c1c;
    background-color: #f5f5f5;
}

.button5{
    color: #1c1c1c;
    background-color: #f5f5f5;
}

.header{
    background-color: #f5f5f5;
}

.md1{
    background-color: #f5f5f5;
}

.response{
    color: #050505;
}

/* Añadir estas reglas para el modo oscuro */
.dark-mode body {
    background-color: #242526; /* Gris oscuro */
}

.dark-mode .mobile {
    background-color: #18191a; /* Gris claro */
}

/* Asegúrate de agregar esto solo si estás en modo oscuro #f5f5f5 */
.dark-mode .md {
    color: #a1a4a8; /* Blanco */
}

.dark-mode .button1{
    color: #a1a4a8;
    background-color: #242526;
}

.dark-mode .button2{
    color: #a1a4a8;
    background-color: #242526;
}

.dark-mode .button3{
    color: #a1a4a8;
    background-color: #242526;
}

.dark-mode .button4{
    color: #a1a4a8;
    background-color: #242526;
}

.dark-mode .button5{
    color: #a1a4a8;
    background-color: #242526;
}

.dark-mode .header{
    background-color: #242526;
}

.dark-mode .md1{
    background-color: #242526;
}

.dark-mode .response{
    color: #a1a4a8;
}