body {
    font-family: 'Montserrat';
    background-color: #050505;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {

    .mobile {
        border: none !important;
        width: 100vw !important;
        height: 100vh !important;
    }

    #load {
        border: none !important;
        width: 95vw !important;
    }
}

.mobile {
    background-color: #0D5492;
    width: 60vw;
    height: 80vh;
    max-width: 500px;
    border: white 0.1rem solid;
    border-radius: 0.2rem;
    display: none;
}

.dark-mode body,
.dark-mode .mobile {
    background-color: #18191a;
}

#load {
    width: 60vw;
    height: 80vh;
    max-width: 500px;
    background-color: #0D5492;
    color: #FFFF;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 0.1rem solid;
    border-radius: 0.2rem;
}