#mobile {
    display: flex;
    flex-direction: column;
}

#one-third {
    background-color: #0D5492;
    flex: 1;
}

#profileImg {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border: 1px solid;
    border-color: #0D5492;
}

@media screen and (max-width: 800px) {
    #profileImg {
        width: 200px;
        height: 200px;
    }

    #info {
        margin-top: 2rem;
    }

    #headerInfo {
        width: 64% !important;
    }
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    padding: 1rem;
    border-radius: 0.5rem;
}

#place {
    display: flex;
    gap: 1rem;
    border-radius: 50% 5% 50% 5%;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
    color: #0D5492;
    width: 20%;
    height: 3rem;
}

#headerIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


#logout {
    cursor: pointer;
    color: #f5f5f5;
}

#home {
    cursor: pointer;
    color: #f5f5f5;
}

#two-third {
    background-color: #f5f5f5;
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#headerWhite {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 3rem;
    color: #212529;
    cursor: pointer;
}

#info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#info h1 {
    margin: 0;
    padding: 0.2rem;
}

#username {
    flex-direction: row;
    font-size: 2rem;
    font-display: bold;
    color: #212529;
}

#email {
    flex-direction: row;
    font-size: 1.1rem;
    font-display: regular;
    color: #6C757D;
}

#contact {
    flex-direction: row;
    font-size: 1.1rem;
    font-display: regular;
    color: #6C757D;
}

#headerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    width: 52%;
}

#headerInfo h1 {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #0D6EFD;
    border-radius: 50rem;
}

#deleteProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

#deleteProfile button {
    height: 2.5rem;
    width: 10rem;
    background-color: red;
    color: #f5f5f5;
    border: none;
    border-radius: 50rem;
    cursor: pointer;
    font-size: 1.1rem;
}

#dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
    gap: 1rem;
    max-width: 20vw;
    text-align: center;
}

#dialog h4 {
    margin: 0;
    padding: 0;
}

#dialog button {
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    border: none;
    background-color: red;
    color: #F5F5F5;
    font-weight: bold;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
}

#vehicles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    width: 100%;
}

.table-row {
    display: flex;
    width: 100%;
    background-color: #f5f5f5;
}

.header-row {
    background-color: #0D5492;
    color: #ffffff;
    border-radius: 0.5rem 0.5rem 0 0;
}

.table-cell {
    flex: 1;
    padding: 0.5rem;
    text-align: center;
}

.dark-mode #one-third,
.dark-mode #headerIcon {
    background-color: #18191a;
    color: #ced2d8;
}

.dark-mode #response,
.dark-mode #place,
.dark-mode #two-third,
.dark-mode #username {
    color: #ced2d8;
    background-color: #242526;
}

.dark-mode #vehicles .table-row {
    background-color: #242526 !important;
    color: #ced2d8 !important;
}

.dark-mode #vehicles .header-row {
    background-color: #18191a !important;
    color: #ced2d8 !important;
}

.dark-mode #dark-mode-icon {
    color: #ced2d8;
}

.dark-mode body {
    background-color: #242526;
}