.mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logout {
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #F5F5F5;
    color: #050505;
}

.card div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.button {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: #1c1c1c;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.8rem;
    background-color: #edeaea;
}

#response {
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
    color: #050505;
    background-color: #F5F5F5;
}

.dark-mode .card,
.dark-mode #header,
.dark-mode #response {
    color: #ced2d8;
    background-color: #242526;
}

.dark-mode .button {
    color: #ced2d8;
    background-color: #282a2b;
}