<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        <form id="form-login">
            <input id="email" type="text" placeholder="Email">
            <input id="password" type="text" placeholder="Contaseña">
        </form>
        <div>
            <button id="button-1">Iniciar sesión</button>
            <a href="http://localhost:3000/api/auth/forgot-password"></a>
        </div>
    </div>

</body>

<script>

    const button = document.getElementById("button-1")

    button.addEventListener("click", async (e) => {

        const email = document.getElementById("email").value
        const password = document.getElementById("password").value

        const data = {
            email,
            password
        }

        const res = await fetch("http://localhost:3000/api/auth/login", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },

            body: JSON.stringify(data)
        })

        const result = await res.json()

        if (res.ok) {
            localStorage.setItem("token", result.token)
            window.location.href = "http://localhost:3000/api/mobile/reservation"

        } else {
            window.location.href = "http://localhost:3000/api/mobile/login"
        }
    })

</script>

</html>