#root {
	min-height: 100vh;
}

i:hover {
	cursor: pointer;
}

.back-blue {
	background-color: #0D5492 !important;
}

.icon-blue {
	color: #0D5492;
}

#noty {
	right: 130px;
	position: absolute;
}

.noty-list {
	top: 80px;
	right: -40px;
	width: 400px;
}

