<%- include("../templates/header", {titulo: "Cambiar Contraseña" }) %>

    <div class="maindiv">
        <form class="mainform" id="passform">
            <div class="text-center">
                <img src="http://localhost:3000/images/logo-transparency-bg.png" class="img-fluid" alt="">
            </div>
            <div>
                <div class="text-center" id="ierror" style="display: none; color: red;"> Las Contraseñas deben
                    coincidir. </div>
                <div class="text-center" id="errorwithout" style="display: none; color: red;"> No puede dejar espacios
                    en blanco. </div>
                <input type="password" minlength="8" placeholder="Ingrese su nueva Contraseña" class="forminput"
                    id="newpass" value="" />
                <input type="password" minlength="8" placeholder="Ingrese otra vez la nueva Contraseña"
                    class="forminput" id="verifypass" value="" />

                <button type="submit" class="btn to-reg-button">Cambiar Contraseña</button>

            </div>
        </form>
    </div>
    <script>
        console.log(window.location.href);
        document.getElementById("passform").addEventListener("submit", async function (e) {

            e.preventDefault()
            var newpass = document.getElementById("newpass").value
            var verifypass = document.getElementById("verifypass").value
            var ierror = document.getElementById("ierror")
            var errorwithout = document.getElementById("errorwithout")

            if (newpass !== verifypass) {
                e.preventDefault()
                ierror.style.display = "block"
            } else {
                ierror.style.display = "none"
            }
            if (newpass === "" || verifypass === "") {
                e.preventDefault()
                errorwithout.style.display = "block"
            } else {
                errorwithout.style.display = "none"
            }


            const response = await fetch(window.location.href, {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password: newpass, confirmPassword: verifypass })
            })

            const result = await response.json()

            if (response.status === 200) {
                console.log("Se ha cambiado correctamente la Contraseña")
            } else {
                console.log("No se pudo cambiar la Contraseña")
            }
        })

    </script>
    </body>

    </html>