<%- include("../templates/header", {titulo: "Cambiar Contraseña" }) %>

    <div class="maindiv">
        <form class="mainform" id="passform">
            <div class="text-center">
                <img src="http://localhost:3000/images/logo-transparency-bg.png" class="img-fluid" alt="">
            </div>
            <div>
                <div class="text-center" id="ierror" style="display: none; color: red;"> Las Contraseñas deben
                    coincidir. </div>
                <div class="text-center" id="errorwithout" style="display: none; color: red;"> No puede dejar espacios
                    en blanco. </div>
                    <div class="text-center" id="passwordregex" style="display: none; color: red;"> La contraseña debe contener al menos un número, una letra minúscula y un carácter especial: (! @ # $ % ^ & *)</div>
                <div class="text-center" id="messageContainer" style="display: none;"></div>
                <input type="password" minlength="8" placeholder="Ingrese su nueva Contraseña" class="forminput"
                    id="newpass" value="" />
                <input type="password" minlength="8" placeholder="Ingrese otra vez la nueva Contraseña"
                    class="forminput" id="verifypass" value="" />

                <button type="submit" class="btn to-reg-button">Cambiar Contraseña</button>
            </div>
        </form>
    </div>
    <script>
            const form = document.getElementById("passform")
            const messageContainer = document.getElementById('messageContainer')
            const ierror = document.getElementById("ierror")
            const errorwithout = document.getElementById("errorwithout")
            const passwordregex = document.getElementById("passwordregex");

            form.addEventListener("submit", async (e) => {
                e.preventDefault()

                const newpass = document.getElementById("newpass").value
                const verifypass = document.getElementById("verifypass").value
                const regex = /^(?=.*\d)(?=.*[a-z])(?=.*[!@#$%^&*])/

                if (newpass !== verifypass) {
                    ierror.style.display = "block"
                    e.preventDefault()
                } else {
                    ierror.style.display = "none"
                }
                if (newpass === "" || verifypass === "") {
                    e.preventDefault()
                    errorwithout.style.display = "block"
                } else {
                    errorwithout.style.display = "none"
                }
                if (!regex.test(newpass)) {
                    e.preventDefault();
                    passwordregex.style.display = "block";
                } else {
                    passwordregex.style.display = "none";
                }



                const response = await fetch(window.location.href, {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password: newpass, confirmPassword: verifypass })
            })

                const result = await response.json()

                if (response.ok) {
                    form.reset()
                    messageContainer.style.display = "block"
                    messageContainer.textContent = result.message
                    messageContainer.style.color = 'green'
                } else {
                    messageContainer.style.display = "block"
                    messageContainer.textContent = result.message
                    messageContainer.style.color = 'red'
                }

            })

    </script>
    </body>

    </html>