<%- include("../templates/header", {titulo: "Cambiar Contraseña"}) %> 

        <div class = "maindiv">
            <form class="mainform" id="passform" method="POST">
                <div class="text-center">
                    <img src="images/logo-transparency-bg.png" class="img-fluid" alt="">
                </div>
                <div>
                    <div class="text-center" id="ierror" style="display: none; color: red;"> Las Contraseñas deben coincidir. </div>
                    <div class="text-center" id="errorwithout" style="display: none; color: red;"> No puede dejar espacios en blanco. </div>
                    <input type="password" minlength="8" placeholder="Ingrese su nueva Contraseña" class="forminput" id="newpass" value=""/>
                    <input type="password" minlength="8" placeholder="Ingrese otra vez la nueva Contraseña" class="forminput" id="verifypass" value=""/>
        
                    <button type="submit" class="btn to-reg-button">Cambiar Contraseña</button> 

                </div>
            </form>
        </div>
        <script>
            document.getElementById("passform").addEventListener("submit", async function (e){

            var newpass = document.getElementById("newpass").value
            var verifypass = document.getElementById("verifypass").value
            var ierror = document.getElementById("error")
            var errorwithout = document.getElementById("errorwithout")

            if (newpass !== verifypass){
                e.preventDefault()
                ierror.style.display = "block"
            } else {
                ierror.style.display = "none"
            }
            if (newpass === "" || verifypass === ""){
                e.preventDefault()
                errorwithout.style.display = "block"
            } else {
                errorwithout.style.display = "none"
            }

            try{
                const response = await fetch("http://localhost:3000/api/auth/forgot-password", {
                method: "POST",
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password : newpass})
            })
            
            const result = await response.json()

                if (result.ok) {
                    console.log("Se ha cambiado correctamente la Contraseña")
                } else {
                    console.log("No se pudo cambiar la Contraseña")
                }

                } catch (error){
                console.error('Ocurrio un error inesperado')
                }
            })
        </script>
    </body>
</html>