<%- include("../templates/header", {titulo: "Recuperar Contraseña" }) %>

    <div class="maindiv">
        <form class="mainform" id="emailForm">
            <div class="text-center">
                <img src="http://localhost:3000/images/logo-transparency-bg.png"" class=" img-fluid" alt="">
            </div>
            <div>
                <div class="text-center" id="messageContainer" style="display: none;"></div>
                <input style="margin-top: 0.5rem;" class="forminput" type="email" id="email" name="email"
                    placeholder="Ingrese su dirección de correo electrónico" required>
                <button type="submit" class="btn to-reg-button">Enviar</button>
                <hr>
                <a   href="http://localhost:3001/auth/login" class="pe-auto">Volver al login</a>
            </div>
        </form>
    </div>

    <script>

        const form = document.getElementById('emailForm');
        const messageContainer = document.getElementById('messageContainer');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const userMail = document.getElementById('email').value;
            const response = await fetch("http://localhost:3000/api/auth/forgot-password", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: userMail })
            });

            const responseData = await response.json();

            if (response.ok) {
                form.reset()
                messageContainer.style.display = "block"
                messageContainer.textContent = responseData.message;
                messageContainer.style.color = 'green';
            } else {
                messageContainer.style.display = "block"
                messageContainer.textContent = responseData.message;
                messageContainer.style.color = 'red';
            }
        });

    </script>
    </body>

    </html>