<%- include("../templates/header", {titulo: "Recuperar Contraseña"}) %> 

        <div class = "maindiv" >
            <form action="" class="mainform" id="mailform" method="POST">
                <div class="text-center">
                    <img src="images/logo-transparency-bg.png" class="img-fluid" alt="">
                </div>
                <div>
                    <div class="text-center" id="ierror" style="display: none; color: red;"> El correo no debe estar vacio </div>
                    <input type="email" placeholder="Ingrese su Correo" class="forminput" id="mail" />

                    <button type="submit" class="btn to-reg-button">Enviar</button> 
                </div>
            </form>
        </div>

        <script>
            document.getElementById("mailform").addEventListener("submit", async function(e){

                    var mail = document.getElementById("mail").value
                    var ierror = document.getElementById("error").value

                    if (mail === ""){
                        e.preventDefault()
                        ierror.style.display = "block"
                    } else {
                        ierror.style.display = "none"
                    }

                try{
                    const response = await fetch("http://localhost:3000/api/auth/forgot-password", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email: mail })
                    })
                    //AGREGAR TILDE A RECUPERACION NO TENGO TECLADO EN ESPANOL JEJE

                    const result = await response.json()

                        if (result.ok) {
                            console.log("Se ha enviado correctamente de recuperacion de Contraseña")
                        } else {
                            console.log("No se pudo enviar el correctamente el email de recuperacion")
                        }

                } catch (error){
                console.error('Ocurrio un error inesperado')
                }
            })
        </script>
    </body>
</html>