<%- include("../templates/header", {titulo: "Verificado" , baseUrl: baseUrl }) %>

    <div class="d-flex flex-column align-items-center justify-content-center vh-100">
        <h1 class="text-center fw-bold text-white">Haz sido verificado correctamente :)</h1>
    </div>
    </body>

    </html>