<%- include("../templates/header", {titulo: "Smart Parking - Entrada" }) %>

    <div class="maindiv">
        <form class="mainform">
            <div style="color: #0D5492;">
                <h1 class="text-center">Acceso Invitado</h1>
            </div>
            <div class="text-center">
                <img src="http://localhost:3000/images/logo-transparency-bg.png"" class=" img-fluid" alt="">
            </div>
            <div>
                <div class="text-center" id="messageContainer" style="display: none;"></div>
                <input style="margin-top: 0.5rem;" class="forminput" id="username" type="text" placeholder="Nombre" >
                <input class="forminput" id="contact" type="text" placeholder="contacto" >
                <input class="forminput" id="patente" type="text" placeholder="patente" >
                <button class="btn to-reg-button" id="button">Enviar</button>
            </div>
        </form>
    </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>

    <script>

        const socket = io("http://localhost:3000")
        const button = document.getElementById("button")
        const messageContainer = document.getElementById('messageContainer')
        const errorNone = document.getElementById('errorNone')


        button.addEventListener("click", (event) => {

            event.preventDefault()

            const username = document.getElementById("username")
            const contact = document.getElementById("contact")
            const patente = document.getElementById("patente")

            const data = {
                username: username.value,
                contact: contact.value,
                patente: patente.value
            }  

            socket.emit("guest-access-request", data)

        })
        
        socket.on("guest-access-ok", ({ message, place }) => {
                console.log(message, place)
                messageContainer.style.display = "block"
                messageContainer.textContent = message
                messageContainer.style.color = 'green'
            })
            
            socket.on("guest-access-denied", ({ message }) => {
                console.log(message)
                messageContainer.style.display = "block"
                messageContainer.textContent = message
                messageContainer.style.color = 'red'
            })

    </script>

</html>