<%- include("../templates/header", {titulo: "Smart Parking - Entrada" , baseUrl: baseUrl }) %>

    <div class="maindiv">
        <form class="mainform" id="mainform">
            <div style="color: #0D5492;">
                <h1 class="text-center">Acceso Invitado</h1>
            </div>
            <div class="text-center">
                <div class="place-logo-container">
                    <div class="text-center" id="placeContainer"></div>
                    <img src="<%= baseUrl %>/images/logo-blue.png"" class=" img-fluid" alt="" id="logo">
                </div>
            </div>
            <div>
                <div class="text-center" id="verificationContainer"></div>
                <div class="text-center" id="messageErrorContainer" style="display: none;"></div>
                <input class="forminput" id="username" type="text" placeholder="Nombre">
                <input class="forminput" id="contact" type="text" placeholder="contacto">
                <input class="forminput" id="patente" type="text" placeholder="patente">
                <div class="text-center" id="messageContainer" style="display: none;"></div>
                <button style="margin-top: 1rem;" class="btn to-reg-button" id="button">Enviar</button>
            </div>
        </form>
    </div>
    </body>

    <script src="/socket.io/socket.io.js"></script>

    <script>

        const socket = io("<%= baseUrl %>")
        const form = document.getElementById("mainform")
        const button = document.getElementById("button")
        const messageContainer = document.getElementById('messageContainer')
        const logo = document.getElementById('logo')
        const placeContainer = document.getElementById('placeContainer')
        const verificationContainer = document.getElementById("verificationContainer")
        const messageErrorContainer = document.getElementById('messageErrorContainer')

        button.addEventListener("click", (event) => {
            event.preventDefault()

            const username = document.getElementById("username")
            const contact = document.getElementById("contact")
            const patente = document.getElementById("patente")
            const regexPatente = (/^[BCDFGHJKLPQRSTVWXYZ]{4}(1[0-9]|[2-9][0-9])$/)
            const regexContacto = (/^\+569\d{8}$/)

            if ((username.value === "") || (contact.value === "") || (patente.value === "")) {
                socket.emit("guest-access-denied")
                username.style.marginTop = "1.5rem"
                messageErrorContainer.style.display = "block"
                messageErrorContainer.textContent = "No puedes dejar espacios en blanco"
                messageErrorContainer.style.color = 'red'
            } else if (!regexContacto.test(contact.value)) {
                socket.emit("guest-access-denied")
                username.style.marginTop = "1.5rem"
                messageErrorContainer.style.display = "block"
                messageErrorContainer.textContent = "El numero de contacto no es valido"
                messageErrorContainer.style.color = 'red'
            } else if (!regexPatente.test(patente.value)) {
                socket.emit("guest-access-denied")
                username.style.marginTop = "1.5rem"
                messageErrorContainer.style.display = "block"
                messageErrorContainer.textContent = "La patente ingresada no es valida"
                messageErrorContainer.style.color = 'red'
            }
            else {
                const data = {
                    username: username.value,
                    contact: contact.value,
                    patente: patente.value
                }

                socket.emit("guest-access-request", data)
                messageErrorContainer.style.display = "none"
                form.reset()

            }
        });

        socket.on("guest-access-ok", ({ message, place, verify }) => {

            logo.style.animation = "fadeOut 0.5s ease forwards"

            messageContainer.style.display = "block"
            messageContainer.textContent = message
            messageContainer.style.color = 'green'

            setTimeout(() => {

                logo.style.display = 'none'

                placeContainer.textContent = `Ubicación del estacionamiento: ${place}`
                placeContainer.style.display = 'block'
                placeContainer.style.animation = "fadeIn 0.5s ease forwards"
                placeContainer.classList.add('smooth-transition')

                verificationContainer.textContent = `Codigo de verificacion: ${verify}`

            }, 500);
        });

        socket.on("guest-access-denied", ({ message }) => {

            messageContainer.style.display = "block"
            messageContainer.textContent = message
            messageContainer.style.color = 'red'

        })

    </script>

    </html>