<%- include("../templates/header", {titulo: "Smart Parking - Salida" , baseUrl: baseUrl}) %>

    <div class="maindiv">
        <form class="mainform" id="mainform">
            <div style="color: #0D5492;">
                <h1 class="text-center">Marcar Salida</h1>
            </div>
            <div class="text-center">
                <img src="<%= baseUrl %>/images/logo-blue.png"" class=" img-fluid" alt="">
            </div>
            <div>
                <div class="text-center" id="messageContainer" style="display: none;"></div>
                <input style="margin-top: 0.5rem;" class="forminput" id="patente" type="text" placeholder="Patente"
                    required>
                <input style="margin-top: 0.5rem;" class="forminput" id="verificationCode" type="text"
                    placeholder="Codigo de Verificacion" required>
                <button class="btn to-reg-button" id="button">Enviar</button>
            </div>
        </form>
    </div>
    </body>

    <script src="/socket.io/socket.io.js"></script>

    <script>

        const urlParams = new URLSearchParams(window.location.search)
        const patenteParam = urlParams.get("patente")
        const verificationCodeParam = urlParams.get("verificationCode")

        if (patenteParam && verificationCodeParam) {
            document.getElementById("patente").value = patenteParam
            document.getElementById("verificationCode").value = verificationCodeParam
        }

        const socket = io("<%= baseUrl %>")
        const form = document.getElementById("mainform")
        const button = document.getElementById("button")
        const messageContainer = document.getElementById("messageContainer")

        button.addEventListener("click", (event) => {

            event.preventDefault()
            const patente = document.getElementById("patente")
            const verificationCode = document.getElementById("verificationCode")

            const data = {
                patente: patente.value,
                verificationCode: verificationCode.value
            }

            socket.emit("guest-exit-request", data)
        })

        socket.on("guest-exit-ok", ({ message, place }) => {
            messageContainer.style.display = "block"
            messageContainer.textContent = message
            messageContainer.style.color = 'green'
            form.reset()
        })

        socket.on("guest-exit-denied", ({ message }) => {
            messageContainer.style.display = "block"
            messageContainer.textContent = message
            messageContainer.style.color = 'red'

            setTimeout(() => {
                messageContainer.style.display = "none"
            }, 3000)
        })

    </script>

    </html>