<%- include("../templates/header", {titulo: "Smart Parking - Invitados" }) %>

    <div>
        <h1 </h1>Haz marcado tu salida correctamente</h1>
        <div>
            </body>

            </html>